*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Gilroy-Bold", sans-serif;
    src: url(../fonts/Gilroy-Bold.woff);
}

@font-face {
    font-family: "Gilroy-Medium", sans-serif;
    src: url(../fonts/Gilroy-Medium.woff);
}

.header {}

.header__container {
    margin: 0 auto;
    max-width: 943px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header__container::after {
    content: " ";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #828282;
}

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 34px;
}

.header__menu-item {
    list-style: none;
}

.header__menu-link {
    text-decoration: none;
    color: #828282;
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 18px;
    cursor: pointer;
}

.header__menu-item .active {
    color: #000000;
    font-weight: 700;
}

.menu__burger {
    display: none;
}

.greeting {
    margin-bottom: 104px;
}

.greeting__container {
    max-width: 944px;
    margin: 0 auto;
}

.greeting__top {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    margin-bottom: 50px;
}

.greeting__h2 {
    font-family: "Gilroy-Bold", sans-serif;
    font-weight: 700;
    font-size: 47px;
}

.greeting__h3 {
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 18px;
    font-weight: 100;
}

.greeting__lang-switcher {
    transform: rotate(-90deg) translate(30px, 30px);
}

.greeting__lang-switcher-item {
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 16px;
}

.greeting__lang-switcher .active {
    font-weight: 900;
}

.greeting__img {
    display: block;
    width: 100%;
}

@media (max-width: 980px) {

    .header__container,
    .greeting__container,
    .about__container,
    .skills__container,
    .portfolio__container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 650px) {

    .header__container,
    .greeting__container,
    .about__container,
    .skills__container,
    .portfolio__container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .header__menu,
    .header__container::after,
    .greeting__lang-switcher {
        display: none;
    }

    .menu__burger {
        display: block;
        position: absolute;
        top: 74px;
        right: 30px;
        width: 33px;
        /* transform: translateY(68px); */
    }
}

@media (max-width: 480px) {

    .header__container,
    .greeting__container,
    .about__container,
    .skills__container,
    .portfolio__container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .header__menu,
    .header__container::after,
    .greeting__lang-switcher {
        display: none;
    }

    .greeting__top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 36px;
    }

    .greeting__h2 {
        margin-bottom: 18px;
    }
}

.about {
    background-color: #F6F6F6;
    padding-top: 112px;
    padding-bottom: 107px;
}

.about__container {
    max-width: 485px;
    margin: 0 auto;
    text-align: center;
}

.about_h2 {
    font-family: "Gilroy-Bold", sans-serif;
    font-weight: 700;
    font-size: 34px;
    padding-bottom: 26px;
}

.about__text-p {
    font-family: "Gilroy-Medium", sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 44px;
}

.about__text-p:last-child {
    padding-bottom: 0;
}

.skills {
    padding-top: 92px;
    padding-bottom: 92px;
}

.skills__container {
    margin: 0 auto;
    text-align: center;
    max-width: 936px;
}

.skills__h2 {
    font-family: "Gilroy-Bold", sans-serif;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 61px;
}

.skills__h3 {
    font-family: "Gilroy-Medium", sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 90px;
}

.skills__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 90px;
    justify-items: center;
    align-items: center;
}

.skills__grid-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills__icon {
    margin-bottom: 18px;
    display: block;
}

.skills__h4 {
    font-family: "Gilroy-Bold", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    max-width: 80px;
    margin-bottom: 40px;
}

.skills__stars {
    display: block;
}

@media (max-width: 980px) {
    .skills__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .skills__grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.portfolio {
    background-color: #F6F6F6;
    padding-top: 112px;
    padding-bottom: 107px;
}

.portfolio__container {
    max-width: 936px;
    margin: 0 auto;
}

.portfolio__h2 {
    font-family: "Gilroy-Bold", sans-serif;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 61px;
    text-align: center;
    letter-spacing: 0.04em;
}

.portfolio__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio__flex-item {
    margin-bottom: 100px;
}

.portfolio__flex-item:nth-child(3) {
    margin-bottom: 0;
}

.portfolio__img-container {
}

.portfolio__img {
    display: block;
    width: 100%;
    margin-bottom: 40px;
}

.portfolio__h3 {
    text-align: center;
}

.portfolio__link {
    font-family: "Gilroy-Medium", sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 90px;
    color:#000000;

}

